# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SchoolTeleggraBot.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\bitddeveloper\RiderProjects\SchoolTeleggraBot\.idea\.idea.SchoolTeleggraBot\.idea/dataSources/
/dataSources.local.xml
/.idea
# Editor-based HTTP Client requests
/httpRequests/
